.MicroblogForm {
    display: flex;
    font-size: 14px;

    &__Avatar {
        display: block;
        background-size: 32px;
        width: 32px;
        height: 32px;
        margin-right: 10px;
    }

    &__Fields {
        width: 100%;
    }

    &__Field {
        margin-bottom: 1rem;


        input {
            width: 100%;
            padding: 0.5rem;
            border: 1px solid #666;
            border-radius: 3px;
            background-color: #fefefe;
        }

        textarea {
            width: 100%;
            padding: 0.5rem;
            border: 1px solid #666;
            border-radius: 3px;
            background-color: #fefefe;
        }
    }

    &__Actions {
        display: flex;

        button {
            display: inline-block;
            padding: 0.3rem 2rem;
            border-radius: 3px;

            &.MicroblogForm__Action__Default {
                background-color: #5E3896;
                color: #fff;
            }
        }
    }

    &__Files {
        min-width: 80px;
    }



    .dzu {
        &-dropzone {
            min-height: 26px;
            border: 1px solid #d9d9d9;
            overflow: auto;
        }

        &-inputLabel {
            font-size: inherit;
            font-weight: inherit;
            color: inherit;
            margin-bottom: 0;
        }

        &-previewContainer {
            padding: 0px;
            min-height: 20px;
            width: auto;

            .dzu-previewStatusContainer {
                progress {
                    max-width: 40px;
                }
            }
        }

        &-inputLabelWithFiles {
            display: none;
        }
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }
}